@using Microsoft.AspNetCore.Identity
@using MeterDataDashboard.Infra.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(SecurityConstants.AdminRoleString))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Users" asp-action="Index">
                <i class="fas fa-users"></i>
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="AgcUpload" asp-action="Index">
                <i class="fas fa-fw fa-file-upload"></i>
                <span>Upload AGC Files</span>
            </a>
        </li>
    }
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="WebDashboard">
            <i class="fas fa-th-large"></i>
            <span>Web Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="Meter">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Meter Data</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="Scada">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Scada Data</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="WbesArchive">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>WBES Archive Data</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/ScadaArchiveMeasurements/Index">
            <i class="fas fa-sliders-h"></i>
            <span>Scada Measurements</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="PmuFrequency">
            <i class="fas fa-chart-line"></i>
            <span>PMU Frequency</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="DemandFreq">
            <i class="fas fa-chart-line"></i>
            <span>Demand Frequency</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="StateDemands">
            <i class="fas fa-chart-line"></i>
            <span>State Demands</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="IsgsStats">
            <i class="fas fa-chart-line"></i>
            <span>ISGS Statistics</span>
        </a>
    </li>
}