@{
    ViewData["Title"] = "All Measurements Dashboard";
}

<div id="root"></div>

@section Scripts {
    <link href="~/js/all-meas-dash-app/node_modules/react-datetime/css/react-datetime.css" rel="stylesheet" />
    <script src="~/js/all-meas-dash-app/node_modules/toastr/build/toastr.min.js"></script>
    <script src="~/js/all-meas-dash-app/node_modules/react/umd/react.production.min.js"></script>
    <script src="~/js/all-meas-dash-app/node_modules/react-dom/umd/react-dom.production.min.js"></script>
    @*<script src="~/js/all-meas-dash-app/node_modules/react-plotly.js/dist/create-plotly-component.min.js"></script>*@
    <script src="~/js/all-meas-dash-app/dist/bundle.all_meas_dash_ui.js"></script>
    <style>
        .timePicker {
            display: inline-block
        }
    </style>
}