@{
    ViewData["Title"] = "All Measurements Dashboard";
}

<div id="root"></div>

@section Scripts {
    <script src="~/js/fict-dash-app/node_modules/plotly.js-dist/plotly.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/js/all-meas-dash-app/node_modules/toastr/build/toastr.min.js"></script>
    <script src="~/js/all-meas-dash-app/node_modules/react/umd/react.production.min.js"></script>
    <script src="~/js/all-meas-dash-app/node_modules/react-dom/umd/react-dom.production.min.js"></script>
    <script src="~/js/all-meas-dash-app/dist/bundle.all_meas_dash_ui.js"></script>
}